.body {
  margin: 0px;
}
.App {
  background-color: black;
  font-family: sans-serif;
  text-align: center;
  color: #ffffff;
  min-height: 100vh;
  padding: 10px;
}
.nav-cont{
  display:flex;
  justify-content: center;
}
.p-s{
  margin-right: 20px;
}
